@charset 'utf-8';

html, body {
  height: 100%;
}

$footer-height: 50px;
.container {
  height: auto !important; // for IE6
  height: 100%;            // for IE6
  min-height: 100%;
  padding-bottom: $footer-height;
}

.footer {
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;

  padding-top: 1em;
  text-align: center;
  background: #e8e8e8;
  border-top: 3px solid #888;
}
